body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
html{
  font-size: 20px;
  }
  .text-skyblue {
    color: skyblue;
  }
  
  .text-pink {
    color: rgb(255, 192, 203);
  }
  h1 {
    font-family: 'Josefin Sans', sans-serif; /* フォントファミリーの指定 */
    font-size: 2rem;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114); /* 下線を付ける */
    letter-spacing: 1.2em;
    text-align: center;
    }
  #basic .bold-text {
    font-weight: bold;
  }
  .pink {
    color: rgb(255, 192, 203);
  }
  h2,  
  .blue {
    color: #87ceeb;
  }