body {
  font-family: "Arial", "Meiryo", sans-serif;
}
html{
  font-size: 20px;
  }
  .blue {
    color: skyblue;
  }
  
  .pink {
    color: rgb(255, 192, 203);
  }
  .no-color {
    color: inherit; /* 親要素の色を継承する */
  }
  h1 {
    font-family: 'Josefin Sans', sans-serif; /* フォントファミリーの指定 */
    letter-spacing: 2px; /* 文字間のスペース */
    border-bottom: 2px solid black; /* 下線を付ける */
    color: black; /* テキストの色 */
}